body
{
    background-color: #446666;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

#message
{
  display: none;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}
